@charset "UTF-8";

:root {
    --cor01: #f2d541;
    --cor01A: #f2d54115;
    --cor02: #d92353;
    --cor02A: #d92353a1;
    --cor03: #60b6bf;
    --cor03A: #60b6bf9d;
    --cor04: #1d803a;
    --cor04A: #1d803b6c;
    --corBaseEscura: #212529;
    --corBaseClara: #788a9c;
    --corTexto: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--corBaseEscura);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
}

.container div {
    display: flex;
    flex-direction: row;
}

canvas {
    background-color: var(--corTexto);
    border: 1px solid var(--corBaseClara);
    border-radius: 10px;
}

.save-image {
    padding: 5px 30px;
    cursor: pointer;
}

.caixa-ferramentas {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 5px;
    background-color: var(--corTexto);
}

.ferramentas {
    margin: 0px 5px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.ferramentas:hover {
    color: #7e7e7e;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border-radius: 50%;
    padding: 5px 7px;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
}

.container-gallery {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--corBaseClara);
    width: 95%;
    height: 95%;
    background-color: var(--corBaseEscura);
}

.gallery-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--corBaseClara);
    padding: 5px;
    color: var(--corTexto);
}

.container-gallery button {
    background: none;
    border: none;
    border-radius: 2px;
    color: var(--corTexto);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-auto-rows: 160px;
    justify-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.gallery article {
    height: min-content;
    width: fit-content;
    border-radius: 5px;
    background-color: #2e3338;
    padding: 5px;
}

.gallery img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.gallery div {
    padding: 5px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.gallery button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: none;
    color: white;
    cursor: pointer;
}

.gallery button:hover {
    background-color: #ffffff18;
}
