@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-color: #f5f5f5;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  padding: 15px 20px;
  color: #ecf0f1;
  font-family: "Arial", sans-serif;
}

.home-header a {
  display: flex;
  text-decoration: none;
  color: #ecf0f1;
  transition: color 0.3s;
}

.home-header a:hover {
  color: #5b30c0;
}

.home-header h1 {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;

  width: 100%;
  padding: 10px;

  background-color: #212529;
}

nav > div {
  display: flex;
  gap: 5px;
}

.tool-box {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;

  padding: 10px;

  background-color: #f5f5f5;
  border-radius: 5px;
}

.tool-box abbr {
  text-decoration: none;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  transition: all 0.3s;
  cursor: pointer;
}

.tool:hover {
  transform: scale(1.1);
}

.size {
  height: 100%;
  background-color: black;
}

.tool-box .size:nth-of-type(1) {
  width: 5px;
}

.tool-box .size:nth-of-type(2) {
  width: 7px;
}

.tool-box .size:nth-of-type(3) {
  width: 9px;
}

.tool-box .size:nth-of-type(4) {
  width: 11px;
}

.tool-box .size:nth-of-type(5) {
  width: 13px;
}

.color {
  width: 20px;
  height: 20px;

  border: 1px solid black;
  border-radius: 50%;

  transition: all 0.3s;
  cursor: pointer;
}

.color:hover {
  transform: scale(1.1);
}

input[type="color"] {
  display: flex;

  width: 40px;
  height: 40px;
  padding: 5px 7px;

  background: none;
  border: none;

  transition: all 0.3s;
  cursor: pointer;
}

input[type="color"]:hover {
  transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 50%;
}

.screen-size {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

canvas {
  border-radius: 3px;
  box-shadow: 0px 5px 20px #0000007e;
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
    justify-content: flex-start;
  }

  nav {
    flex-direction: column;
    height: 100%;
    width: min-content;
  }

  .tool-box {
    flex-direction: column;
    flex: 0;
  }

  .tool-box .size:nth-of-type(1) {
    width: 100%;
    height: 5px;
  }

  .tool-box .size:nth-of-type(2) {
    width: 100%;
    height: 7px;
  }

  .tool-box .size:nth-of-type(3) {
    width: 100%;
    height: 9px;
  }

  .tool-box .size:nth-of-type(4) {
    width: 100%;
    height: 11px;
  }

  .tool-box .size:nth-of-type(5) {
    width: 100%;
    height: 13px;
  }
}
